__pycache__/

.idea/

*.sqlite3

.DS_Store

._*

.DS_Store
.AppleDouble
.LSOverride

# Node
npm-debug.log

# Mac
.DS_Store

# Windows
Thumbs.db

# WebStorm
.idea/

# vi
*~

# General
log/
*.log

migrations/
django_advisor/media/profile_image/*
django_advisor/media/places_location/*