input[type="number"] {
	-moz-appearance:textfield;
}

div.align {
  display:flex;
  align-items:center
}

textarea.write-review {
	height:200px;
	padding:2px;
}

div.comments-container {
    height:100%;
    border:1px solid black;
	border-radius:5px;
	padding:5px;
	margin:5px
}