input[type="number"] {
	-moz-appearance:textfield;
}

div.align {
  display:flex;
  align-items:center;
}

textarea.write-review {
	height:200px;
	padding:2px;
}

div.comments-container {
    border:2px solid grey;
	border-radius:5px;
	padding:5px;
	margin:5px;
	min-height:70vh;
}

div.comment-container {
	border:1px solid grey;
	border-radius:5px;
	padding:3px;
	margin:2px;
	overflow:hidden;
	
}

img.review-thumbnail {
	display:block;
    width: 80%;
	margin-left:auto;
	margin-right:auto;
    height: auto;
}

div.float-left {
	float:left;
	margin:2px;
	width:20%;
	overflow:hidden;
}
p.center{
	text-align:center;
}


div.comment-title {
    border-bottom: 2px solid grey;
}

div.comment-content {
    padding:3px;
}
.carousel-inner > .item > img{
    width: 100%;
}

#footer {
    position: absolute;
    bottom: 0;
    background: #444444;
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    padding: 20px;
}

#map{
    height: 25vh;
    width: 25vw;
	margin-top: 30px;
}
