beautifulsoup4==4.6.0
Django==1.11.10
django-appconf==1.0.2
django-compressor==2.2
django-htmlmin==0.10.0
html5lib==1.0.1
lxml==4.2.0
Pillow==5.0.0
pytz==2018.3
rcssmin==1.0.6
rjsmin==1.0.12
six==1.11.0
webencodings==0.5.1
