<div class="modal fade" id="manAddr" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enter Location Address</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="manAddrForm" role="form">
                    <div class="form-group">
                        <label for="address">Enter Address</label>
                        <input type="text" class="form-control" id="address" placeholder="Address" required autofocus name="address">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block" value="submit" >Find location</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>