{% extends 'advisor/base.html' %}
{% load staticfiles %}
{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <div class="container-fluid">
        <h1 class="page-header">What is DjangoAdvisor about?</h1>
        <p>DjangoAdvisor is a website enabling users passionate about travelling to share their ratings and comments
            about the locations they visit within the world. Read on to see some of our users and how they make use of
            Django Advisor.</p>
        <h2>Why is Jamie using DjangoAdvisor?</h2>
        <p>Jamie is an Australian backpacker, former CEO, that quit his job last week for a year in order to travel the
            world and refocus on himself as well as reconnecting with mother nature. During his year-long trip, he aims
            to visit the most inspiring and astonishing sites the
            world can offer. The platform will be of great use to him, indeed he will be able to visualize the ratings
            from international users that have actually experienced this location. Furthermore, he will be able to add
            the places he visited to his own profile to help his family and friends to see what he is up to.</p>
        <h2>Why is Maria using DjangoAdvisor?</h2>
        <p>Maria is the daughter of Giorgio Locatelli, a famous London chef. During her early childhood, her father,
            disguised in order to visit some of the town's restaurants where he was bound to be famous, would
            regularly teach her how to taste and rate food. Years after years, her desire to help restaurants grew by
            providing constructive feedback to help them improve the choice of their ingredients and enhance their
            presentation. As a professional Michelin Guide reviewer, she would like to increase her audience reach. The
            platform would be the ideal place for her to do so. She could provide feedback of both quantitative (by
            rating) and qualitative (by commenting) nature.</p>
    </div>
{% endblock %}

{% block javascript %}{% endblock %}