{% extends 'advisor/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Add New Location
{% endblock %}

{% block body_block %}
    <div class="container-fluid">
        <div class="container-fluid">
            <br/>
            <br/>
            <form id="addLocationForm" method="post" role="form" action="{% url 'add_location' %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <h3 class="title">Fill out the details to add a new location</h3>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="form-group">
                                <input type="text" maxlength="50" placeholder="Name of Location" class="form-control"
                                       autofocus
                                       name="location_name" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div id="picture-carousel" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#picture-carousel" data-slide-to="0" class="active"></li>
                                    </ol>
                                    {#         wrapper for slides #}
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <img src="{% static 'images/no-foto.png' %}" alt="blank photo" id="ci">
                                            {# for test purposes #}
                                        </div>
                                    </div>
                                    {#         controls #}
                                    <a class="left carousel-control" href="#picture-carousel" role="button"
                                       data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#picture-carousel" role="button"
                                       data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group">
                                <span class="input-group-addon" id="image_description">Image</span>
                                <input type="file" name="location_image" class="form-control"
                                       aria-describedby="image_description" required accept="image/*">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        <div class="row">
                            <div class="form-group">
                                <span>Give it a rating</span> <br>
                                <input title="rating" id="ratingBar" name="input-rating" type="number" class="rating"
                                       min=0
                                       max=5 step=1
                                       data-show-clear="false" data-show-caption="false" data-size="xs"
                                       data-readonly="false" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <input type="text" name="review-title" required maxlength="100" class="form-control"
                                       placeholder="Review headline">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <textarea name="review-content" required maxlength="500"
                                          class="form-control form-group-lg"
                                          placeholder="Write your thoughts" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <span>Select the location on the map or enter its coordinates manually</span>
                            <input hidden name="coords" id="coords" type="text" title="hidden-coords">
                            <input hidden name="city" id="city" type="text" title="hidden-city">
                            <div id="map-addl"></div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary pull-left" id="ent_loc_man"
                                        data-toggle="modal"
                                        data-target="#manAddr">Or Enter Address Manually
                                </button>
                                <button type="submit" class="btn btn-primary pull-right">Post</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% include 'advisor/forms/manual_address.html' %}
    {# for if the user wants to enter their address manually instead of mucking about the map #}
{% endblock %}

{% block javascript %}
    <script src="{% static 'bootstrap-star-rating/js/star-rating.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'bootstrap-star-rating/themes/krajee-svg/theme.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/add_location.js' %}"></script>
    <script type="text/javascript" async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA7X84ZDyPgCBFuFaE99Ft64XeE0V5x2g&callback=initMap"></script>
{% endblock %}