<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <title>
        RangoAdvisor -
        {% block title_block %}
            Share your world with the world!
        {% endblock %}
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    {#	  <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">#}
</head>
<body>
<!-- Header -->
<!-- Navigation Bar -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">RangoAdvisor</a>
        </div>
        <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'add_place' %}">Add a Place</a></li>
                <li class="nav-item"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <!-- Buttons that invoke Register and Login pop ups -->
                <li class="nav-item">
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#loginModal">
                        Login
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#registerModal">
                        Register
                    </button>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>
<!-- BODY -->
<div>
    {% block body_block %}
    {% endblock %}
</div>

<footer>
    <!-- FOOTER -->
    <ul>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'about' %}">Contacts</a></li>
        <li><a href="{% url 'about' %}">Index</a></li>
    </ul>
</footer>
<!-- Dialogs -->

<!-- Login dialog -->
{% include 'advisor/forms/login.html' %}

<!-- Register dialog -->
{% include 'advisor/forms/register.html' %}

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% block javascript %}{% endblock %}
</body>
</html>