{% extends 'advisor/base.html' %}
{% load staticfiles %}
{% block title_block %}
		Contacts
{% endblock %}
	
{% block body_block %}
        <div>
	        <h1 class="page-header">Contacts Page</h1>
	        This website has been put together by: Daumantas Pagojus, Anguel Hristozov and Louis Cochin, feel free to email us:
            <ul>
                <li> <a href="mailto:2268980C@student.gla.ac.uk"> Contact Louis Cochin</a></li>
                <li> <a href="mailto:2267352P@student.gla.ac.uk"> Contact Daumantas Pagojus</a></li>
                <li> <a href="mailto:2255541H@student.gla.ac.uk"> Contact Anguel Hristozov</a></li>
            </ul>
		</div>
{% endblock %}

{% block javascript %}{% endblock %}