{% extends 'advisor/base.html' %}
{% load staticfiles %}
{% block title_block %}
		RangoAdvisor
{% endblock %}

{% block body_block %}
	<div>
		{% if locations %}
			<ul>
				{% for location in locations %}
					<li> <a href="/advisor/location/{{ location.slug }}">{{location.name}}</a></li>
					<!-- add the image from the locations in the loop-->
				{% endfor %}
			</ul>
		{% endif %}
			<div class="search-container">
				<form action="/action_page.php">
					<input type="text" placeholder="Search..." name="search">
					<button type="submit">Filter</button>
				</form>
			</div>
            <p> Location 1, Location 2...</p>
	</div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div id="location-items-container">
					{% for location in locations %}
						<div class="location-item">
							{% if location.get_picture %}
								<img src="{{location.get_picture.picture.url}}"/>
							{% else %}
								<img src="{% static 'images/no-foto.png' %}"/>
							{% endif %}
							
								<h4 class="title">{{location.name}}</h4>
								<span class="mystar-rating">
									<span class="mystar glyphicon glyphicon-star"></span>
									{{location.get_rating}}
								</span>
							
						</div>
					{% endfor %}
				</div>
				
			</div>
		</div>
	</div>

{% endblock %}