{% extends 'advisor/base.html' %}
{% load staticfiles %}
{% block title_block %}
		RangoAdvisor
{% endblock %}

{% block body_block %}
	<div>
		{% if locations %}
			<ul>
				{% for location in locations %}
					<li> <a href="/advisor/location/{{ location.slug }}">{{location.name}}</a></li>
					<!-- add the image from the locations in the loop-->
				{% endfor %}
			</ul>
		{% endif %}
			<div class="search-container">
				<form action="/action_page.php">
					<input type="text" placeholder="Search..." name="search">
					<button type="submit">Filter</button>
				</form>
			</div>
            <p> Location 1, Location 2...</p>
	</div>

{% endblock %}