{% extends 'advisor/base.html' %}
{% load staticfiles %}
{% block title_block %}
		Details
{% endblock %}
	
	{# Comments in this file are actually reviews  #}
	
{% block body_block %}
		{% if location %}
			<div>
				<h1 class="page-header">{{ location.name }}</h1>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8 " name="photo_map_col">
					
						<div class="row" name="photo">
						
							{% if pictures %}
								<!-- PHOTOs CAROUSEL -->
								<div id="photos" class="carousel slide" data-ride="carousel">
								  <!-- Indicators -->
								  <ol class="carousel-indicators">		
									{# loop over photos and add indicator for each photo #}
									{% for picture in pictures %}
									
										{# We have to make the first photo active #}
										{% if forloop.first %}
											<li data-target="#photos" data-slide-to="0" class="active"></li>
										{% else %}
											<li data-target="#photos" data-slide-to="{{forloop.counter0}}"></li>
										{% endif %}
									{% endfor %}

								  </ol>
								  <!-- Wrapper for slides -->
								  <div class="carousel-inner">
								  
								  {# loop over photos and add them to carousel #}
									{% for picture in pictures %}
										
										{# We have to make the first photo active #}
										{% if forloop.first %}
											<div class="item active">
											  <img src="{{ picture.picture.url }}" alt="{{picture}}">
											</div>
										{% else %}
											<div class="item">
												<img src="{{ picture.picture.url }}" alt="{{picture}}">
											</div>
										{% endif %}
									{% endfor %}
								  </div>
									
								  {% if pictures|length > 1 %}
									  <!-- Left and right controls -->
									  <a class="left carousel-control" href="#photos" data-slide="prev">
										<span class="glyphicon glyphicon-chevron-left"></span>
										<span class="sr-only">Previous</span>
									  </a>
									  <a class="right carousel-control" href="#photos" data-slide="next">
										<span class="glyphicon glyphicon-chevron-right"></span>
										<span class="sr-only">Next</span>
									  </a>
								  {% endif %}
								</div>
							{% else %}
								<h2>No photos to show</h2>
							{% endif %}
						</div>
						
						<div class="row" name="map">
							<div id="map"></div>
						</div>
					</div>
					<div class="col-md-3 col-md-offset-1" name="reviews">
						<div class="row">
							<div class="comments-container pre-scrollable">
								{% if comments %}

										{% for comment in comments %}
												
											<div class="comment-container row">
											
												<div class="col-md-4 align-items-center">
														{% if comment.posted_by.avatar %}
															<img src="{{comment.posted_by.avatar.url}}" class="review-thumbnail" alt="Profile photo"> 
														{% else %}
															<img src="https://cdn3.f-cdn.com/ppic/6432052/logo/9262697/Google-Play-Games-Default-Profile-Avatar-Thumbnail.png" class="review-thumbnail" alt="Profile photo"> 
														{% endif %}
														<p class="text-center"><b>{{comment.posted_by}}</b></p>
														<input id="ratingBar" value="{{comment.rating}}" name="input-rating" type="number" class="rating" min=0 max=5 step=1 data-show-clear="false" data-show-caption="false" data-size="xs" data-displayonly="true"/>
												</div>
												
												<div class="col-md-8">
													{% if comment.title %}
														<div class="row comment-title">
															<h4>{{comment.title}}</h4>
														</div>
													{% endif %}
												
													<div class="row comment-content">
														<p>{{comment.content}}</p>
													</div>
												</div>
											</div>
										{% endfor %}
									
								{% else %}
									<h2> No comments to show</h2>
								{% endif %}
							</div>
						</div>	
						<div class="row">
							<button type="button" class="btn btn-outline-dark btn-success btn-block" data-toggle="modal" data-target="#writeReviewModal">
									Write a review
							</button>
						</div>
					</div> 	 
					
			{% else %}
				<h3>Location not found</h3>
			{% endif %}	
				</div>
			</div>
			
		
		
<!-- Review dialog -->
{% include 'advisor/forms/write_review.html' %}	

<!-- we need to create js variable reference in html to access django variables from external files -->
<script>
	var lat = {{location.get_lat}}
	var lng = {{location.get_lng}}
</script>
<script type="text/javascript" src="{% static 'js/location_details.js' %}"></script>
<script type="text/javascript" async defer  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA7X84ZDyPgCBFuFaE99Ft64XeE0V5x2g&callback=initMap"></script>
	
{% endblock %}