{% extends 'advisor/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Welcome back {{ name }}
{% endblock %}

{% block body_block %}
    <div class="container-fluid">
        {#      left column is profile pic, small info, and change password  #}
        {#      right column is places that you have reviewed  #}
        <div class="col-md-5 col-md-offset-1">
            <div class="row">
                {% if user.user_profile.avatar.url %}
                    <img class="img-responsive" src="{{ user.user_profile.avatar.url }}" id="avatar"/>
                {% else %}
                    <img class="img-responsive" src="{% static 'images/no-foto.png' %}" id="avatar"/>
                {% endif %}
            </div>
            <br/>
            <div class="row">
                {#              information about the user  #}
                <h3>Username: <span class="well">{{ user.username }}</span></h3>
            </div>
            <br/>
            <br/>
            <div class="row">
                <button id="changePP" class="btn btn-primary" type="submit" role="button">Update Profile Picture</button>
                <form method="post" action="{% url 'change_pp' %}" role="form" id="changePPForm">
                    <input hidden accept="image/*" type="file" name="newAvatar" id="changePPInput" />
                </form>
            </div>
            <br/>
            <div class="row">
                <button data-toggle="modal" data-target="#changePW" class="btn btn-primary" type="submit" role="button">
                    Change Your Password
                </button>
            </div>
        </div>
        <div class="col-md-5">
            {#          places they've seen  #}
            <button>gang</button>
        </div>
    </div>

    {% include 'advisor/forms/change_password.html' %}
    <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
{% endblock %}