{% extends 'advisor/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Welcome back {{ user.username }}
{% endblock %}

{% block body_block %}
    <div class="container-fluid">
        <div class="col-md-4">
            <div class="row">
                <br/>
                <br/>
                {% if user.user_profile.avatar.url %}
                    <img class="img-responsive" src="{{ user.user_profile.avatar.url }}" id="avatar"/>
                {% else %}
                    <img class="img-responsive" src="{% static 'images/no-foto.png' %}" id="avatar"/>
                {% endif %}
            </div>
            <br/>
            <div class="row">
                {#              information about the user  #}
                <h3 class="well">Username: <span class="text-muted">{{ user.username }}</span></h3>
            </div>
            <br/>
            <br/>
            <div class="row">
                <button id="changePP" class="btn btn-primary" type="submit" role="button">Update The Avatar
                </button>
                <form method="post" action="{% url 'change_pp' %}" role="form" id="changePPForm">
                    <input hidden accept="image/*" type="file" name="newAvatar" id="changePPInput"/>
                </form>
            </div>
            <br/>
            <div class="row">
                <button data-toggle="modal" data-target="#changePW" class="btn btn-primary" type="submit" role="button">
                    Update Password  &nbsp;
                </button>
            </div>
            <br/>
            <div class="row">
                <button id="deleteAcc" class="btn btn-primary" type="submit" role="button">
                    Delete My Account
                </button>
            </div>
        </div>
        <br/>
        <div class="col-md-7">
            {#          places they've seen  #}
            <div class="row">
                <h3>Number of places visited: {{ count }}</h3>
            </div>
            <hr>
            <div id="location-items-container" class="location-items-container">
                {% for location in locations %}
                    <div class="location-item pseudo_link" id="{{ location.slug }}">
                        <input class="pseudo_url" type="hidden" value="{% url 'location_details' location.slug %}">
                        <div class="picture">
                            {% if location.get_picture %}
                                <img src="{{ location.get_picture.picture.url }}" />
                            {% else %}
                                <img src="{% static 'images/no-foto.png' %}">
                            {% endif %}
                        </div>

                        <div class="title">
                            <p class="text">{{ location.name }}</p>
                        </div>

                        {% if location.get_rating %}
                            <span class="bottom-section mystar-rating">
                                <span class="mystar glyphicon glyphicon-star"></span>
                                {{ location.get_rating }}
                            </span>
                        {% endif %}

                        <span class="bottom-section text visited">
                            <span class="glyphicon glyphicon-comment"></span>
                            {{ location.num_reviews }}
                        </span>

                        <span class="text bottom-section comments">
                            <span class="glyphicon glyphicon-comment"></span>
                            {{ location.num_reviews }}
                        </span>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'advisor/forms/change_password.html' %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
{% endblock %}